*.un~
*~
*.swp
*.swo
*.DS_STORE
*desktop.ini

home/.config/Code
home/.config/google-chrome
home/.config/libfm
home/.config/pcmanfm
home/.config/yay
home/.config/spotify
home/.config/dconf
home/.config/Mousepad
home/.config/Synergy

home/.local/share/clipit
home/.local/share/recently-used.xbel