! special
*.foreground:   #d8dee9
*.background:   #2e3440
*.cursorColor:  #d8dee9

! black
*.color0:       #2e3440
*.color8:       #88c0d0

! red
*.color1:       #bf616a
*.color9:       #e98989

! green
*.color2:       #a3be8c
*.color10:      #c0ca8e

! yellow
*.color3:       #ebcb8b
*.color11:      #e9b189

! blue
*.color4:       #81a1c1
*.color12:      #5e81ac

! magenta
*.color5:       #b48ead
*.color13:      #ada0d3

! cyan
*.color6:       #8fbcbb
*.color14:      #88c0d0

! white
*.color7:       #d8dee9
*.color15:      #e5e9f0

URxvt.font: xft:Source Code Pro:size=10.5
URxvt.depth: 32
URxvt*scrollBar: false
URxvt*mouseWheelScrollPage: true
URxvt*cursorBlink: true
URxvt*saveLines: 99999
URxvt*internalBorder: 5
URxvt*geometry: 70x19
